@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared color */
.color-primary{
    color: #FD6E0A;
}
.secondary-bg{
    background-color: #FFF8F3;
}
.text-center{
    text-align: center;
}
.btn-primary{
    color: white;
    background-color: #FD6E0A;
    font-size: 20;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description-primary{
    font-size: 18px;
    color: #757575;
    font-weight: normal;
}
.section-description-secondary{
    font-size: 16px;
    color: #757575;
    font-weight: normal;
}
.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
/* regular style begins from here */
.header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 220px;
}
.nav-title{
    font-weight: 800;
    font-size: 42px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 40px;
}
nav ul li a{
    text-decoration: none;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px 0 220px;
}
.banner-info{
    max-width: 585px;
}
.banner-profile-pic{
    width: 585px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 80px;
    font-weight: bold
}
.banner-description{
    font-size: 18px;
}
/* ===========main section========== */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
/* ========about section ============ */
.about{
    border-radius: 10px;
    text-align: center;
    padding: 130px 155px;
}
.about-identity{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.basic-info {
    font-size: 20;
    font-weight: normal;
    color: #757575;
}
.basic-info-ans{
    font-size: 20;
    font-weight: bold;
    color: #757575;
}
/* =======what - do section ========== */
.what-do-info{
    text-align: center;
}
.what-do-parts{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.what-do-part{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.what-do-subtitle{
    font-size: 20px;
    font-weight: bold;
}
/* ============resume section=============== */
.resume{
    margin-bottom: 110px;
}
.resume-container{
    display: flex;
    gap: 24px;
    margin-top: 110px;
}
.resume-column-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}
.resume-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}
.resume-subtitle{
    font-size: 20px;
    font-weight: semibold;
    color: #757575;
}
.resume-btn{
    margin-top: 60px;
}
/* ==========footer section ========== */
footer{
    padding: 130px 200px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
 footer input[type="text"], footer input[type="email"], footer textarea {
    height: 64px;
    border-radius: 5px;
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 24px;
    display: block;
    width: 100%;
    border: none;
}